.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.bg-color{
   background-color: rgba(245, 248, 255, 1);
}

/* header Section */
.header{
    width: 100%;
    height: 900px;
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 52px 150px;
}

.nav-title{
    color:#4E47FF;
    font-size:34px ;
    font-weight: 900;
}

.btn{
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.nav-btn{
    width: 132px;
    height:48px ;
}
.banner-btn{
    width: 174px;
    height:48px ;
}
.launch-btn{
    width: 229px;
    height: 48px;
    padding: 12px 36px;
}
.focus-btn{
    width: 195px;
    height: 48px;
}
.touch-btn{
    width: 560px;
    height: 62px;
}
.nav-btn:hover,.banner-btn:hover,.launch-btn:hover,.focus-btn:hover,.touch-btn:hover{
    background-color: black;
}
.banner{
    text-align: center;
    margin:310px 262px 152px 262px;
    
}
.banner-content{
    font-size: 65px;
}

/* action Section */
.action{
    display:flex;
    justify-content: space-between;
    margin:116px 150px ;
    align-items: center;
    background-color: white;
}
.section-title{
    font-size:42px;
    margin:62.5px 0px 23px 0px;

}
.section-description{
   font-size: 24px;
   font-weight: 400;
   color: rgba(37, 36, 50, 0.5);
   margin:23px 240px 23px 0px;
   text-align: left;
}

.action-image{
    width: 403px;
    height: 328px;
    border-radius: 42px;
}

.prod-user-sec{
    text-align: center;
    margin: 116px 160px 138px 140px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    align-items: center;
}
.content{
    padding: 50px 142px;
}
.prod-user{
    display: flex;
    justify-content: space-around;
    
}

.sec-title{
    font-size: 36px;
}

.item{
    font-size:80px;
    color:#4E47FF;
    font-weight:700 ;
   
}

.item-description{
    font-size:20px;
    color:rgba(0, 0, 0, 0.5);
    font-weight:400;
}
.focus{
    height: 696px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color:rgba(255, 255, 255, 1) ;
    margin: 140px 150px 100px 150px;
}
.focus-content{
    margin-bottom: 20px;
}
.focus-title{
    font-size:50px;
    padding-top: 71px;
}
.focus-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: 400;
}
.focus-img{
    width:840px ;
    height:365px ;
    border-radius: 42px;
    
}

.touch-sec{
    width: 1140px;
    height: 632px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 115px;
}

section input[type="email"], section input[type="text"], section textarea{
    height: 70px;
    width: 560px;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px ;
    padding: 20px 32px;
}
.touch-title{
    font-size:97px ;
    font-weight: 700;
}

.form-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    margin-top: 104px;
    margin-bottom: 103px;
    padding: 104px 455px;
}
.footer-content{
    align-items: center;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    align-self:center;

}
.footer-title{
    font-size: 100px;
    font-weight:900 ;
    margin-bottom: 8px;
    color: #4E47FF;
}
.footer-description,.footer-column{
    font-size: 16px;
    font-weight: 400;
    color: #8987A1;
    max-width: 800px;   
    margin: 0 auto;     
    text-align: center; 
}
.footer-column{
    display: flex;
    list-style: none;
    gap: 48px;
    justify-content: center;
}
.foot-align{
    width: 600px;
    height: auto;
}
